/* ---------- NOTE EDITOR PANEL --------------------------------------------- */

/* TODO: Add comments */
#note-editor {

  position: fixed;

  bottom: calc(-580px + 80px);

  width: inherit;
  height: 580px;
  background-color: #191919;
  border-top: 1px solid #939393;

  transition-property: bottom;
  transition-duration: 500ms;    
}


@media (max-width: 520px) {
  #note-editor {
    width: calc(100% - 40px);
  }
}


/* TODO: Add comments */
#note-editor.edit-mode {
  bottom: 0px;
}


/* TODO: Add comments */
.note-editor-contents {
  margin-top: 20px;
  display: flex;
}


/* TODO: Add comments */
.note-editor-left {
  width: 350px;
}


/* TODO: Add comments */
.note-editor-right {
  margin-left: 20px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}


/* ---------- "START A NEW NOTE" BUTTON ------------------------------------- */

/* TODO: Add comments */
#btn-new-note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  background-color: #f5bb00;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #212121;

  cursor: pointer;
  user-select: none;

  margin: 0 auto;
  position: relative;
  top: -20px;
}

/* TODO: Add comments */
#note-editor.edit-mode #btn-new-note {
  pointer-events: none;
}

/* TODO: Add comments */
#btn-new-note::before {
  content: "START A NEW NOTE"
}

/* TODO: Add comments */
#note-editor.edit-mode #btn-new-note::before {
  content: "EDIT NOTE";
}


/* ---------- CLICKABLE ANIMAL IMAGE ---------------------------------------- */

/* TODO: Add comments */
.note-editor-img {
  padding: 10px;
  background-color: #212121;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}


/* TODO: Add comments */
.note-editor-img:active {
  background-color: #34242f;
}


/* TODO: Add comments */
.note-editor-img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}


/* ---------- TEXT INPUT AREAS ---------------------------------------------- */

/* TODO: Add comments */
#note-editor input,textarea {
  margin-top: 14px;
}


/* TODO: Add comments */
input {
  background-color: #212121;
  border: none;
  padding: 10px;
  border-radius: 10px;

  color: #dddddd;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Roboto';
  resize: none;

  width: 330px;
  overflow: hidden;
  display: block;

}


/* TODO: Add comments */
input:focus {
  background-color: gold;
  background-color: #34242f;
  /* border: none; */
  outline: none;
}


/* TODO: Add comments */
textarea {
  background-color: #212121;
  border: none;
  padding: 10px;
  border-radius: 10px;

  color: #dddddd;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Roboto';
  resize: none;

  width: 330px;
  /* overflow: hidden; */
  font-weight: 400;
  font-size: 14px;

}


/* TODO: Add comments */
textarea:focus {
  background-color: gold;
  background-color: #34242f;
  outline: none;
}


/* ---------- SUBMIT AND CANCEL ICONS --------------------------------------- */

/* TODO: Add comments */
#note-editor .icon {
  margin-top: 20px;
  font-weight: 600;
}