.notecard {
  display: flex;

  box-sizing: border-box;
  width: 450px;
  min-height: 150px;

  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;

  border-radius: 8px;
  /* background-color: #515151; */
  background-color: #212121;
}

.notecard-left {
  flex-grow: 1;
  /* background-color: blue; */
}
.notecard-right {
  width: 30px;
  flex-shrink: 0;
  background-color: green;
}

.note-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.note-body {
  font-size: 14px;
  font-weight: 400;
  color: #939393;
}

.notecard-main-content {
  display: flex;
}

.notecard-thumbnail {
  /* We want our image to fit into a 70x70 px square. */
  width: 70px;
  height: 70px;

  /* Image will be positioned so that it covers the entire 70x70 px area. It
    will be scaled down, but keep the same aspect ratio. Any parts of the image
    that fall outside of the 70x70 area will be clipped. */
  object-fit: cover;

  /* Add some rounded corners to the image. */
  border-radius: 5px;
}

/* This div contains the note title text and note body text. */
.notecard-text {
  /* The width should be 100% of the parent div, MINUS the width of the
  70px thumbnail image and the 20px left margin. */
  width: calc(100% - 70px - 20px);

  /* Add a margin on the left side, so there is some space between the thumbnail
    image and the note text. */
  margin-left: 20px;

  /* Alternatively, we could use the flex-grow property. This causes the div to
    expand so that it takes up the remaining horizontal space in the parent. */
  /* flex-grow: 1; */
  margin-top: 5px;
}

.notecard-footer {
  margin-top: 15px;
  font-size: 12px;
  color: #595959
}