body {
  /* Set the default font family and font color for our application. */
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #939393;

  /* Set the background color (dark mode UI!) */
  background-color: #191919;
}


.notecard {

  box-sizing: border-box;
  width: 450px;

  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;

  border-radius: 8px;
  background-color: #212121;
}


.notecard-thumbnail {
  /* We want our image to fit into a 70x70 px square. */
  width: 70px;
  height: 70px;

  /* Add some rounded corners to the image. */
  border-radius: 5px;
}


.note-title {
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 500;
  color: #dddddd;
}


.btn-delete {
  width: 30px;
  height: 30px;

  margin-top: 15px;
  padding: 0;

  font-size: 14px;
  font-weight: 700;

  background-color: #212121;
  border: 2px solid #595959;
  border-radius: 5px;
  color: #595959;

  cursor: pointer;
}

.btn-delete:hover {
  color: #dddddd;
  background-color: #393939;
  border: 2px solid #dddddd;
}