/* ---------- NOTE EDITOR PANEL --------------------------------------------- */
#note-editor {

  position: fixed;

  bottom: calc(-500px + 80px);

  width: inherit;
  height: 500px;
  background-color: #191919;
  border-top: 1px solid #939393;

  transition-property: bottom;
  transition-duration: 500ms;    
}

#note-editor.edit-mode {
  bottom: 0px;
}

.note-editor-contents {
  margin-top: 20px;
  display: flex;
}

.note-editor-left {
  width: 350px;
}

.note-editor-right {
  flex-shrink: 0;
  margin-left: 20px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}


/* ---------- "START A NEW NOTE" BUTTON ------------------------------------- */
#btn-new-note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  background-color: #f5bb00;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #212121;

  cursor: pointer;
  user-select: none;

  margin: 0 auto;
  position: relative;
  top: -20px;
}

#note-editor.edit-mode #btn-new-note {
  pointer-events: none;
}

#btn-new-note::before {
  content: "START A NEW NOTE"
}

#note-editor.edit-mode #btn-new-note::before {
  content: "EDIT NOTE";
}


/* ---------- TEXT INPUT AREAS ---------------------------------------------- */
#note-editor input,textarea {
  margin-top: 14px;
}

input {
  background-color: #212121;
  border: none;
  padding: 10px;
  border-radius: 10px;

  color: #dddddd;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Roboto';
  resize: none;

  width: 330px;
  overflow: hidden;
  display: block;

}

input:focus {
  background-color: gold;
  background-color: #34242f;
  /* border: none; */
  outline: none;
}

textarea {
  background-color: #212121;
  border: none;
  padding: 10px;
  border-radius: 10px;

  color: #dddddd;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Roboto';
  resize: none;

  width: 330px;
  /* overflow: hidden; */
  font-weight: 400;
  font-size: 14px;

}

textarea:focus {
  background-color: gold;
  background-color: #34242f;
  outline: none;
}


/* ---------- SUBMIT AND CANCEL ICONS --------------------------------------- */
#note-editor .icon {
  margin-top: 20px;
  font-weight: 600;
}