body {
  font-family: sans-serif;
}

.row {
  width: 500px;
  background-color: lightgray;
}

.row div {
  width: 100px;
  background-color: steelblue;
  color: white;
  margin: 8px;
  padding: 8px;
}
