/* show on website*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif; /* explain when to put in quotation */
    font-size: 14px; /* default is 16px */
    font-weight: 300;

    /* center content */
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 300%;
    text-transform: uppercase;
    font-weight: 900;
    margin: 100px 0px 0px 0px;
}
h2 {
    font-size: 120%;
    font-weight: 900;
}
h3 {
    font-size: 100%;
    font-weight: 600;
}

section, header {
    margin: 20px; /* add margin for small screens */
}

footer {
    color: white;
    text-align: center;
    background-color: #212121;
    padding: 50px 0;
    margin-top: 100px;
}
