
/* Simple link styles */
a {
    color: black;
}

a:hover {
    font-weight: 600;
}
a:active {
    color: aqua;
}


/* Different navigation link style */

nav a {
    font-weight: 900;
    font-size: 150%;
    display: block;
}