/* show on website*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600;900&display=swap');


nav {
    border-bottom: #EEEEEE solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


nav > a {
    border: none;
    margin: 10px;
    padding: 2px 8px;
}

nav > a:hover {
    border: none;
    font-weight: 600;
}
