/* show on website*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif; /* eplain when to put in quotation */
    font-size: 14px; /* default is 16px */
    font-weight: 300;

    /* center content */
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 300%;
    text-transform: uppercase;
    font-weight: 900;
    margin: 100px 0px 0px 0px;
}
h2 {
    font-size: 120%;
    font-weight: 900;
}
h3 {
    font-size: 100%;
    font-weight: 600;
}

section, header {
    margin: 20px; /* add margin for small screens */
}

footer {
    color: white;
    text-align: center;
    background-color: #212121;
    padding: 50px 0;
    margin-top: 100px;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: black solid 1px;
}

a:hover {
    border-bottom: aqua solid 3px;
}
a:active {
    background-color: aqua;
}


nav {
    border-bottom: #EEEEEE solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


nav > a {
    border: none;
    margin: 10px;
    padding: 2px 8px;
}

nav > a:hover {
    border: none;
    font-weight: 600;
}


article {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

article > div {
    width: 50%;
}

.article-media video {
    min-width: 200px;
    max-width: 100%;
}

.article-description {
    padding-right: 20px;
}

#greeting {
    font-size: 28px;
    font-style: italic;
}

#about-content {
    display: flex;
    align-items: flex-start;
}

#about-image {
    flex: 1 1 30%;
}
#about-image img {
    width: 100%;
    min-width: 100px;
}

#about-description {
    flex: 70%;
    padding-left: 20px;
}