body {
  font-family: sans-serif;
}

#parent {
  background-color: lightgray;
  width: 400px;
}

#box {
  background-color: darkred;
  color: white;
  height: 64px;

  /* Uncomment these to see how they affect the layout... */
  /* margin: 12px; */
  /* margin: 18px 6px 12px 24px; */
  /* border: 5px solid goldenrod; */
  /* padding: 8px; */
}
