/* ---------- BODY ---------------------------------------------------------- */

body {
  /* Some browsers (like Chrome) include a small margin around the <body> by
    default. Our application doesn't need this margin (we would like the UI to
    extend all the way to the top and bottom of the screen), so we remove this
    margin below.
  */
  margin: 0px;
  padding: 0px;

  /* Set the default font family and font color for our application. */
  font-family: 'Roboto';
  color: #dddddd;

  /* Set the background color (dark mode UI!) */
  background-color: #191919;
}


