body {
  font-family: sans-serif;
}

.big_container {
  width: 500px;
  background-color: lightgray;

  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end; 
}

.small_container {
  display: flex;
  flex-direction: column;
}


.big_container div {
  /* width:200px; */
  background-color: steelblue;
  color: white;
  margin: 8px;
  padding: 8px;
}

.small_container div {
  /* width:100px; */
  background-color: darkgrey;
  color: black;
  margin: 8px;
  padding: 8px;
}